<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-8 card p-3">
      <h1>Edit bid</h1>
      <%= simple_form_for @bid do |f| %>
        <%= f.input :price %>
        <%= f.input :perks %>
         <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>