<div class="container">
  <div class="header-index p-3 d-flex w-100 justify-content-between align-items-center">
    <div class="header-title">
      <p><small>FIND THE RIGHT TENDER</small></p>
      <h1>Join an Auction</h1>
    </div>
    <div>
      <% if current_user.role == "Manager" %>
      <%= link_to "START NEW AUCTION", new_auction_path, class: "btn button_bid" %>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <% @auctions.each do |auction| %>
      <div class="card card-index">
        <div class="border-bottom w-100 my-2 p-2 d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div class="avatar-img-auction"
              style="background-image: url('<%= cl_image_path (auction.user.photo.key), crop: :fill %>'); width: 40px; height: 40px; border-radius: 50px">
            </div>
            <span><%= auction.user.name %></span>
          </div>
          <div>
          <% if auction.user == current_user %>
            <%= link_to edit_auction_path(auction) do %>
            <i class="fas fa-pencil-alt pr-1"></i>
            <% end %>
            <%= link_to auction_path(auction), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash"></i>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="p-2 details-auction">
          <p class="pb-2"><small>LISTING</small></p>
          <h6><strong><%= auction.add_space(auction.category).upcase %></strong></h6>
          <div class="d-flex w-100 justify-content-between">
            <div>
              <p><small><%= auction.contract_length %> contract</small></p>
              <p><small>Volume of <%= auction.estimated_volume %></small></p>
            </div>
            <h4>£ <%= auction.start_price %></h4>
          </div>
        </div>
        <div class="pb-2 join_auction">
          <%= link_to ' JOIN AUCTION', auction_path(auction), class: "" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>