<div class="container">
  <div class="row">
    <div class="col-12">

      <ul class="auction-details d-flex w-100 justify-content-around py-2">
        <li>Auction for: <strong><%= @auction.category.capitalize %></strong></li>
        <li>Starting price: <strong><%= @auction.start_price %></strong></li>
        <li>Available for: <strong><%= @auction.contract_length %></strong></li>
      </ul>
      <div class="auction-bids">
        <h2>Browse all the active bids for <%= @auction.category.capitalize %> here:</h2>

          <% @bids.each do |bid| %>
            <div class="card">
            <div class="d-flex justify-content-between">
                <% if bid.photo.attached? %>
                <div class="bid-card-img" style="background-image: url('<%= cl_image_path (bid.photo.key), crop: :fill %>');">
                </div>
                <% end %>

              <p>Brand: <%= bid.user.name %></p>
              <div class="bid-icons">
                <%= link_to edit_bid_path(bid) do %>
                  Change bid<i class="fas fa-pencil-alt mr-2 ml-2"></i>
                <% end %>
              </div>
            </div>
            <p>Price: <%= bid.price %> £</p>
            <p>Perks: <%= bid.perks %></p>
          </div>
        <% end %>
        <%= link_to "Bid now", new_auction_bid_path(@auction) %>
      </div>
    </div>
  </div>
</div>

