<div class="container">
  <ul class="auction-details w-100 p-3">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div>
          <h2>Active bids for <strong><%= @auction.category.capitalize %></strong></h2>
        </div>
        <div class="d-flex">
          <li class="pr-3">Starting price: <strong><%= @auction.start_price %></strong></li>
          <li>Available for: <strong><%= @auction.contract_length %></strong></li>
           <div class="timer pr-3">
          <%= render 'shared/timer', deadline: @auction.deadline.strftime("%b %d, %Y %H:%M:%S") %>
          </div>
        </div>
      </div>
    <div>
      <%= link_to "Bid now", new_auction_bid_path(@auction), class: "btn button_bid"%>
    </div>
    </div>
  </ul>
  <div class="auction-bids container">
    <div class="row">
      <% @bids.each do |bid| %>
        <div class="col-12 card flex-row align-items-center my-1">
          <div>
            <% if bid.photo.attached? %>
              <%= cl_image_tag bid.photo.key, class: "img-bid" %>
            <% end %>
          </div>
          <div class="d-flex flex-column w-100">
            <div class="border-bottom d-flex flex-row w-100 justify-content-between pt-2">
              <h4>Brand: <%= bid.user.name %></h4>
                <%= link_to edit_bid_path(bid) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
            </div>
            <div class="d-flex flex-row w-100 justify-content-between pt-4">
              <p>Perks: <%= bid.perks %></p>
              <h5><strong><%= bid.price %> £</strong></h5>
            </div>
          </div>
          <div class="approved-declined">
            
            <% if @auction.is_over? %>
              
              <% if bid.approved != true %>
                <%= link_to "Approve", approve_path(bid), method: :patch, remote: true, class: "btn" %>
              <% else %>
                <%= link_to "Decline", decline_path(bid), method: :patch, remote: true, class: "btn" %>
              <% end %>
              
            <% end %>
            
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>