<div class="nav-container">
  <div class="navbar-main d-flex">
    <div class="brand-name">
      <a href="/"><h1><span class="text-primary">ez</span>tenda</h1></a>
    </div>
    <div class="nav-search">
      <%= form_tag auctions_path, method: :get do %>
        <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for tenders"
        %>
      <% end %>
    </div>
    <div class="nav-items">
      <ul class="d-flex nav-item-list">
        <li>HOW IT WORKS</li>
        <li>USE CASES</li>
        <li>ABOUT US</li>
        <% if current_user %>
          <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "btn btn-info" %></li>
        <% else %>
          <li><%= link_to "SIGN IN", new_user_registration_path, class: "btn btn-info" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="sub-nav d-flex justify-content-center">
    <div class="">
      <ul class="d-flex sub-nav-tabs">
        <li><%= link_to "Lager", auctions_path(:query => "lager") %></li>
        <li><%= link_to "Cider", auctions_path(:query => "cider") %></li>
        <li><%= link_to "Craft Beer", auctions_path(:query => "craft_beer") %></li>
        <li><%= link_to "Bitter", auctions_path(:query => "bitter") %></li>
        <li><%= link_to "Stout", auctions_path(:query => "stout") %></li>
        <li><%= link_to "Red Wine", auctions_path(:query => "red_wine") %></li>
        <li><%= link_to "White Wine", auctions_path(:query => "white_wine") %></li>
        <li><%= link_to "Sparkling Wine", auctions_path(:query => "sparkling Wine") %></li>
        <li><%= link_to "Fortified Wine", auctions_path(:query => "fortified_wine") %></li>
        <li><%= link_to "Champagne", auctions_path(:query => "champagne") %></li>
        <li><%= link_to "Carbonated Soft Drinks", auctions_path(:query => "carbonated_soft_drinks") %></li>
        <li><%= link_to "See All Categories", auctions_path%></li>
      </ul>
    </div>
  </div>
</div>
