<div class="nav-container">
  <div class="navbar-main d-flex">
    <div class="brand-name">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo2.png", class: "logo-sizing" %>
    <% end %>
    </div>
    <div class="nav-search">
      <%= form_tag auctions_path, class:"nav-form", method: :get do %>
        <%= text_field_tag :query,
      params[:query],
      class: "form-control search-form",
      placeholder: "Search for tenders"
        %>
      <% end %>
    </div>
    <div class="nav-items">
      <ul class="d-flex nav-item-list">
        <li>HOW IT WORKS</li>
        <li>USE CASES</li>
        <li>ABOUT US</li>        
        <% if current_user %>
          <li><%= link_to "DASHBOARD",  dashboard_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-info" %></li>
        <% else %>
          <li><%= link_to "LOGIN", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-info" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="sub-nav d-flex justify-content-center mt-3">
    <div class=" w-100">
      <ul class="d-flex sub-nav-tabs w-100 py-2">
        <li><%= link_to "Lager", auctions_path(:query => "lager"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "Cider", auctions_path(:query => "cider"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "Craft Beer", auctions_path(:query => "craft_beer"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "Bitter", auctions_path(:query => "bitter"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "Stout", auctions_path(:query => "stout"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "Red Wine", auctions_path(:query => "red_wine"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "White Wine", auctions_path(:query => "white_wine"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "Sparkling Wine", auctions_path(:query => "sparkling_wine"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "Fortified Wine", auctions_path(:query => "fortified_wine"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "Champagne", auctions_path(:query => "champagne"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "Carbonated Soft Drinks", auctions_path(:query => "carbonated_soft_drinks"), class: "sub-nav-tab-link" %></li>
        <li><%= link_to "See All Categories", auctions_path%></li>
      </ul>
    </div>
  </div>
</div>
